<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <menu class="menu">
        <ul class="menu-list">
            <li class="menu-item"><h1>Ma liste d'héros Marvel</h1></li>
            <li class="menu-item"><input id="recherche" placeholder="Hulk, Iron man..." type="text" class="input--txt"/><button id="bouton_recherche" class="input--btn">Rechercher !</button> </li>

        </ul>
    </menu>

    <div id="app">
        <list :items="items" @favitem="favitem" @displaydesc="description">

            <template v-slot:imageitemview="slotProps">
                <div>
                    <img class="display_img" v-bind:src="slotProps.item.image" >
                </div>
            </template>

            <template v-slot:heartview="slotProps">
                <div>
                    <img class="display_heart" src="img/heart.svg" >
                </div>
            </template>

            <template v-slot:heartfilledview="slotProps">
                <div>
                    <img class="display_heart" src="img/heart-filled.svg" >
                </div>
            </template>

            <template v-slot:itemview="slotProps">
                <div>
                    <h3 class="display_name">{{slotProps.item.name}}</h3>
                    <span hidden>{{slotProps.item.id}}</span>
                </div>
            </template>

            <template v-slot:itemdisplay="slotProps">
                <div class="display_div">
                    <h3 class="display_name">Name : {{slotProps.item.name}}</h3>
                    <p>Description : {{slotProps.item.description}}</p>
                    <p>First appearance in a comic: {{slotProps.item.firstComics}}</p>
                    <p>Last appearance in a comic: {{slotProps.item.lastComics}}</p>
                </div>
            </template>
        </list>
        <div class="div_fav">
            <h2 class="subTitle">Votre liste de favoris</h2>
            <input id="name" class="input--txt" type="text" placeholder="Nom de l'équipe">
            <input id="sauvegarder" class="input--btn" type="btn" value="Sauvegarder">
            <input id="charger" class="input--btn" type="btn" value="Charger">
            <input id="supprimer" class="input--btn" type="btn" value="Supprimer">
            <input id="effacer" class="input--btn" style="float: right" type="btn" value="Effacer">
        </div>
        <fav :items="heroFav" @favitem="favitem">
            <template v-slot:imageitemview="slotProps">
                <div>
                    <img class="display_img" v-bind:src="slotProps.item.image" >
                </div>
            </template>

            <template v-slot:heartview="slotProps">
                <div>
                    <img class="display_heart" src="img/heart.svg" >
                </div>
            </template>

            <template v-slot:heartfilledview="slotProps">
                <div>
                    <img class="display_heart" src="img/heart-filled.svg" >
                </div>
            </template>

            <template v-slot:itemview="slotProps">
                <div>
                    <h3 class="display_name">{{slotProps.item.name}}</h3>
                    <span hidden>{{slotProps.item.id}}</span>
                </div>
            </template>
        </fav>

    </div>

    <template id="list-template">
		<div>
            <h2 v-if="items.length === 0" class="display_empty" >Utilisez la barre de recherche en haut pour chercher vos premiers super-heros </h2>
            <ul v-else class="divList">
				<li class="display_li" v-for="item in items" v-bind:key="item.id">
                    <div @click="$emit('displaydesc', item)">
                        <slot name="imageitemview" v-bind:item="item"></slot>
                    </div>

                    <slot name="itemview" v-bind:item="item"></slot>
                    <div @click="$emit('displaydesc', item)">
                        <slot v-if="item.displayDescription" name="itemdisplay" v-bind:item="item"></slot>
                    </div>
                    <div @click="$emit('favitem', item)">
                        <slot  v-if="!item.fav" name="heartview" v-bind:item="item"></slot>
                        <slot  v-else name="heartfilledview" v-bind:item="item"></slot>
                    </div>
                </li>
            </ul>
		</div>
	</template>

    <template id="fav-template">
        <div>
            <h2 v-if="items.length === 0" class="display_empty" >Votre liste de favoris est actuellement vide </h2>
            <ul v-else class="divList">
                <li class="display_li" v-for="item in items" v-bind:key="item.id">
                    <div>
                        <slot name="imageitemview" v-bind:item="item"></slot>
                    </div>

                    <slot name="itemview" v-bind:item="item"></slot>
                    <div @click="$emit('favitem', item)">
                        <slot  v-if="!item.fav" name="heartview" v-bind:item="item"></slot>
                        <slot  v-else name="heartfilledview" v-bind:item="item"></slot>
                    </div>
                </li>
            </ul>
        </div>
    </template>

    <script>
        var text = document.getElementById('recherche')
        var btn = document.getElementById('bouton_recherche')
        var nameValue = document.getElementById('name')

        var url = "https://gateway.marvel.com/v1/public/characters";

        //Parameters for Marvel API
        let ts = "1";
        let publickey = "a304c714ce8a941525f38dc9ff04af96";
        let hash = "dc71804142f0f9fd9ba4c6f22b5f3f48";
        let params = "?ts=" + ts + "&apikey=" + publickey + "&hash=" + hash + "&limit=10";
        const nbrHeros = 1493 - 10
        var array = []
        var heroFav = [];

        btn.addEventListener('click', function() {
            var length = array.length
            for (var i = 0; i < length; i++) {
                array.shift()
            }
            var myURL = undefined

            if (text.value === "") {
                var rand = Math.floor(Math.random() * (nbrHeros))
                myURL = url + params + "&offset=" + rand
            } else {
                myURL = url + params + "&name=" + text.value
            }
            console.log(myURL)

            var req = new XMLHttpRequest();
            req.responseType = 'json';
            req.open('GET', myURL);
            req.send();
            req.onload  = function() {
                req.response.data.results.forEach(element => {
                    console.log(req.response.data);
                    let firstComics;
                    let lastComics;
                    let description;

                    if (element.comics.returned === 0) {
                        firstComics = "N/a";
                        lastComics = "N/a";
                    } else {
                        firstComics = element.comics.items[element.comics.items.length - 1].name;
                        lastComics = element.comics.items[0].name;
                    }

                    if (element.description === "") {
                        description = "N/a"
                    } else {
                        description = element.description;
                    }
                    var dataElement = {
                        id: element.id,
                        name: element.name,
                        image: element.thumbnail.path + '.' + element.thumbnail.extension,
                        description: description,
                        firstComics: firstComics,
                        lastComics: lastComics,
                        displayDescription: false,
                        fav: false
                    }
                    array.push(dataElement)
                })
            };
        })

        Vue.component('list', {
            template: '#list-template',
            props: {
                items: {
                    type: Array,
                    required: true,
                    validator(data) {
                        if (data.length > 0)
                            return true;
                        else {
                            console.log("[Warning] Composant List instancié avec un tableau vide");
                            return true;
                        }
                    }
                },
            }
        })

        Vue.component('fav', {
            template: '#fav-template',
            props: {
                items: {
                    type: Array,
                    required: true,
                    validator(data) {
                        if (data.length > 0)
                            return true;
                        else {
                            console.log("[Warning] Fav List instancié avec un tableau vide");
                            return true;
                        }
                    }
                },
            }
        })

        var App = new Vue({
            el: '#app',

            data: {
                items: array,
                heroFav: heroFav,
            },

            methods: {
                description: function(item) {
                    item.displayDescription = !item.displayDescription;
                },
                favitem: function(item) {
                    item.fav = !item.fav;

                    if (heroFav.length === 0) {
                        heroFav.push(item)

                    } else {
                        for (i = 0; i< heroFav.length; i++) {
                            if (heroFav[i].id === item.id) {
                                heroFav.splice (i, 1);
                                return;
                            }
                        }
                        heroFav.push(item)
                    }
                }
            }
        })

        document.getElementById('sauvegarder').addEventListener('click', function() {
            var name = nameValue.value
            localStorage.setItem('team-' + name, JSON.stringify(heroFav));
            window.alert("Votre liste a bien été enregistrée");
        })

        document.getElementById('charger').addEventListener('click', function() {
            var name = nameValue.value
            var saved = JSON.parse(localStorage.getItem('team-' + name));
            if (saved == null) {
                window.alert("La liste que vous avez tenté de charger n'existe pas ! ");
            } else {
                errase()
                for (var i=0; i< saved.length; i++) {
                    heroFav[i] = saved[i]
                }
            }
        })

        document.getElementById('supprimer').addEventListener('click', function() {
            var name = nameValue.value
            localStorage.removeItem('team-' + name);
            window.alert("Votre liste a bien été supprimée");
        })


        document.getElementById('effacer').addEventListener('click', function() {
            errase()
        })

        function errase() {
            var length = heroFav.length
            for (var i = 0; i < length; i++) {
                heroFav[0].fav = false
                heroFav.shift()
            }
        }
    </script>
</body>
</html>
