body {
    font-family: "Roboto", sans-serif;
}

.display_li {
    width: 30%;
    height: auto;
    display:inline-block;
    margin: 1rem .5rem;
    position: relative;
    box-shadow: 0;
    transition : box-shadow 0.5s;
    border-radius: 25px;
}
.display_li:hover {
    box-shadow: 4px 4px 25px rgb(0 0 0 / 50%);
}

.display_div {
    width: 100%;
    height: 100%;
    display:inline-block;
    background-color: rgba(255,255,255,0.9);
    overflow: scroll;
    position: absolute;
    z-index: 100;
    border-radius: 25px;
    top: 0;
}

.display_img {
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 25px;
}

.divList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.display_name {
    text-align: center;
}

.list {

}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.display_heart {
    max-width: 10%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer;
}
.menu-item {

}

.input--txt {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 1rem
}
.input--btn {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}
.display_empty {
    max-width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10rem;

}
.div_fav {
    margin-top: 3rem;
    border-top: 1px solid black;
}
.subTitle {
    text-align: center;
}